NationalParks.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="https://aviniegr.github.io/cse445_a4/xml"
    targetNamespace="https://aviniegr.github.io/cse445_a4/xml" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <xsd:element name="NationalParks">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="NationalPark" minOccurs="1" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Name" type="xsd:string" />
                            <xsd:element name="Phone" type="xsd:string" maxOccurs="unbounded" />
                            <xsd:element name="Address" minOccurs="1" maxOccurs="1">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Number" type="xsd:string" />
                                        <xsd:element name="Street" type="xsd:string" />
                                        <xsd:element name="City" type="xsd:string" />
                                        <xsd:element name="State" type="xsd:string" />
                                        <xsd:element name="Zip" type="xsd:string" />
                                    </xsd:sequence>
                                    <xsd:attribute name="NearestAirport" type="xsd:string"
                                        use="required" />
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="Rating" type="xsd:decimal" use="optional" />
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>